/***Layout file for the pages for "Arbeid og Aktivitet", Tromsoe kommune***/
/***by Jon Simonsen***/
/**For now, this will just be a regular css-file.**/


/***CSS custom properties(variables). Source claims non-compatibility with IE and some other browsers.***/
body {
  /**Thematic colors**/

  /*For banner, buttons and some borders. Alt. 09F, 06F*/
  --theme-color: #09F;
  /*Contrast to theme color. For button background and some textboxes. Alt FF9,FC6,CC6*/
  --contrast-color: #FC6;
  --link-color: #FFF; /*Default color of links/button text and their borders*/
  --border-select: #000; /*Default border color of buttons when hovering*/
  --select-color: #009; /*Default button color when hovering. Alt 009, 00F*/
  --bgcolor: #999; /*Default background color. Alt. 999, CC9*/
  --sub-bgcolor: #CCC; /*Background color for subsections*/

  /**Margins, borders, paddings**/
  --pads: 4px;
  --big-pads: 8px;

  /**Dimensional vars**/
  --logo-width: 160px;
  --imgtxt-offset: 200px; /*Since the height of the banner depends on the width of the logo, this needs to change if the logo size changes*/
}


/***Test element (mainly for testing if the browser supports custom properties)***/
.test {
  background-color: #999; /*Must match the value of --bgcolor for the test to work. Additionally, the test seems to never fail if the value is "default" #FFF(white). It would need to be rewritten in that case.*/
}


/***General html objects***/
* {
  margin: 0px;
  padding: 0px;
}

/**base is a generic class for page bodies to override bootstrap styles.**/
body.base {
  margin: var(--pads);
  margin-top: 120px;    /*Make room for wrapper*/
  overflow-x: hidden;     /*Prevent scroll-bar and remove the overflowing content. Possible issue at small screen widths.*/
  background-color: var(--bgcolor); /*Alt. 999,CC9*/
}

.base h2 {
  margin: var(--big-pads);
}

@media only screen and (max-width: 600px) {
  .base h2 {
    font-size: 24px;
  }
}

.base h4 {
  margin-top: var(--pads);
  margin-bottom: var(--big-pads);
  text-align: center;
  font-size: 18px;
  color: #666;
}

.base p, .base li {
  margin: var(--big-pads);
}

/**Styling links as buttons. Might want to adopt a more modern implementation later.**/
.base a {
  padding: var(--big-pads);
  border: 2px solid transparent;
  border-radius: var(--big-pads);
  color: var(--link-color);
  background-color: var(--theme-color);
  text-decoration: none;
}

.base a:hover {
  border-color: var(--border-select);
  color: var(--link-color);
  background-color: var(--select-color);
  text-decoration: none;
}

.base ul {
  list-style-position: inside;
}

.base hr {
  border: 1px solid var(--theme-color);
}

/***General styles (used for different kinds of things)***/

/**Provides box styling for information/descriptions/histories and similar.**/
.storybox {
  border: 2px solid var(--theme-color);
  background-color: var(--contrast-color);
}

/**Button overlay elements**/
.arrow {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 32px;
  height: 32px;
  background-color: var(--contrast-color);  /*Actual color of arrow*/
  clip-path: polygon(100% 75%, 100% 25%, 50% 25%, 50% 0%, 0% 50%, 50% 100%, 50% 75%);
  z-index: 10;
  pointer-events: none;
}

.right {
  clip-path: polygon(0% 75%, 0% 25%, 50% 25%, 50% 0%, 100% 50%, 50% 100%, 50% 75%);
}

.left {
  clip-path: polygon(100% 75%, 100% 25%, 50% 25%, 50% 0%, 0% 50%, 50% 100%, 50% 75%);
}

/**Can be used above or below other content to change its position**/
.usynlig {
  visibility: hidden;
}

/**General signature**/
p.sign {
  text-align: right;
  font-style: italic;
  font-size: 14px;
}

/**Styling of phone numbers**/
.tlf {
  font-weight: bold;
}

/**For causing line breaks at small screen widths.**/
span.newline {
  display: none;
}

@media only screen and (max-width: 600px) {
  span.newline {
    display: inline;
  }
}


/***Site-wide section styling***/

/**banner**/
/*150118: Tested and seems ok at browser widths (320, 1360) in Chrome.*/
/*Will need to retest if the navbar (or other content) is altered.*/
.banner-wrapper {
  border: var(--pads) solid var(--bgcolor);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;   /*Make sure that the banner covers other content.*/
  background-color: var(--theme-color);
}

.banner {
  display: flex;
  align-items: flex-end;
}

.banner a {
  padding: 0;
  margin: 2px;  /*When added to border-width, the result should equal var(--pads)*/
}

.banner img {
  width: var(--logo-width);
  display: flex;          /*Prevents extra bottom-padding for image link*/
}

/**Navbar (part of the banner)**/
.nav-top {
  margin-left: auto;
  margin-right: var(--pads);
  display: flex;
}

.nav-top a {
  padding: var(--pads);
  margin-bottom: var(--pads);
  margin-left: 1px;
  border-radius: 0;
  font-size: 18px;
  background-color: var(--contrast-color);
  color: var(--theme-color);
}

.nav-top a:hover {
  color: var(--select-color);
  background-color: var(--contrast-color);
}

@media only screen and (max-width: 600px) {
  .nav-top {
    display: block;
    margin-top: var(--pads);
    margin-bottom: var(--pads);
  }

  .nav-top a {
    padding: 0;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1;
    display: block;
  }
}

/**Footer**/
/*150118: Tested and seems ok at browser widths (320, 1360) in Chrome.*/
.footer {
  margin-top: 20px;
  border-top: 2px solid var(--theme-color);
  overflow: hidden;
  background-color: var(--sub-bgcolor);
}

.footer p {
  text-align: center;
  clear: right;   /*Had to use this to force it below the facebook link*/
}

@media only screen and (max-width: 600px) {
  .sep {
    visibility: hidden;
  }
}

.socials {
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.socials a.fb-link {
  padding: 0;
  border-radius: 0;
  margin: var(--pads);
  float: right;
}

.socials a.fb-link img{
  margin: 2px;
  width: 32px;
  height: 32px;
  display: flex;
}


/***home page styling***/

/**Illustrasjon**/
/*150118: Tested and seems ok at browser widths (320, 1360) in Chrome.*/
/*Will need to retest if the image (or other content) is altered.*/

.illustration {
  display: flex;
  align-items: center;
}

.illustration img {
  width: 100%;    /*Attempted to do this with block display, but that doesn't work on replaced elements (images).*/
  min-height: 160px;  /*To align content if the image doesn't load correctly*/
  background-color: var(--theme-color);
}

/*Text/button to be written on top of image*/
.ill-box {
  position: absolute;
  left: 0;
  right: 0;     /*Prevents the element from flowing outside the body margins.*/
  text-align: center;
}

.ill-link {
  display: block;
}

.ill-box a {
  margin-top: 16px;
  border-color: var(--contrast-color);
  color: var(--contrast-color);
  display: inline-block;
  font-size: 20px;
  background-color: var(--theme-color);
  opacity: 0.8;
}

.ill-box a:hover {
  background-color: var(--select-color);
  border-color: #000;
  opacity: 1;
}

.ill-text {
  display: inline-block;
  clear: left;
  color: #FFF;
  background-color: #000;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .ill-text h3 {
    font-size: 20px;
  }
}

/**Info**/
/*150118: Works well with sizes (320, 1360) and probably somewhat smaller ones as well.*/
.info {
  text-align: center;
}

/**Options (button row)**/
/*150118: Tested and seems ok at browser widths (320, 1360) in Chrome.*/
.options nav {
  padding: var(--big-pads);
  display: flex;
  justify-content: space-around;
  background-color: var(--sub-bgcolor);
}

.options a {
  padding: 30px;
  border-radius: 20px;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .options a {
    padding: 18px;
    border-radius: 12px;
    font-size: 24px;
  }
}

/**Stories from employees**/
/*150118: Tested and seems ok at browser widths (320, 1360) in Chrome.*/
.storygrid {
  display: grid;
  grid-template: 1fr 3fr / 1fr 1fr;
  grid-auto-rows: 3fr;
  grid-gap: 10px;
}

.storygrid h2 {
  grid-column: 1 / 3;
}

p.excerpt {   /*Using this generally with some potential modification might be done later*/
  margin: var(--big-pads);
  height: 96px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.storylink {
  margin-left: var(--pads);
  height: 44px;
  width: 160px;
  bottom: 10px;
  position: relative;
  float: left;
}

.storylink a {
  padding: 5px 5px 5px 45px;
  position: absolute;
  font-size: 18px;
  line-height: 30px;
  color: var(--contrast-color);
}

/*Override default overlay positioning*/
.storylink .arrow {
  margin-left: var(--big-pads);
}

@media only screen and (max-width: 600px) {
  .storygrid {
    grid-template: 1fr 3fr / 1fr;
  }

  .storygrid h2 {
    grid-column: 1 / 2;
  }

  p.story {
    font-size: 18px;
  }
}


/***Dreis styling***/

/**Services styling**/
.services {
  margin: 5px;
  display: grid;
  grid-template: 60px / calc(var(--logo-width) + 4px) 1fr;
  grid-auto-rows: calc(var(--logo-width) + 4px);
  grid-gap: 10px;
}

.services h2 {
  grid-column: 1 / 3;
}

.infocell {   /*Not using id to prevent overriding the debug class*/
  display: flex;
  align-items: center;
}

.infotext {
  padding: 0px var(--big-pads);
  width: 100%;
  height: calc(var(--logo-width) - 32px);
  overflow-y: auto;
}

.services img {
  width: var(--logo-width);
  height: var(--logo-width);
  display: flex;
}

.services p {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .services {
    grid-template: 60px / 1fr;
  }

  .services h2 {
    grid-column: 1 / 2;
  }

  .imgcell {
    display: none;
  }
}

/***Dagsjobben styling***/
/*150118: Does not look good on small screens. Should change the layout after getting appropriate input.*/
.jobs ul {
  display: inline-block;
}

.jobs li {
  /*display: block;*/
}

.jobs img {
  max-height: 200px;
  float: right;
}

/***Activity styling (could consider using DRY in conjunction with services).***/
.activities {
  margin: 5px;
  display: grid;
  grid-template: 60px / calc(var(--logo-width) + 4px) 1fr;
  grid-auto-rows: calc(var(--logo-width) + 4px);
  grid-gap: 10px;
}

.activities h2 {
  grid-column: 1 / 3;
}

.activities img {
  width: var(--logo-width);
  height: var(--logo-width);
  display: flex;
}

.activities p {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .activities {
    grid-template: 60px / 1fr;
  }

  .activities h2 {
    grid-column: 1 / 2;
  }
}

/***Employee page styling***/
/*150118: Tested and seems ok at browser widths (320, 1360) in Chrome.*/

/*Make room for employee navigation*/
body.multipage {
  margin-top: 196px; /*Should be the same as base, but with height of the top wrapper added to it.*/
}

/**Navigation buttons for employees and workplaces**/
.top-wrapper {
  border: var(--pads) solid var(--bgcolor);
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  background-color: var(--sub-bgcolor);
  z-index: 5;
}

.scroll-wrapper {
  display: flex;
  justify-content: center;
}

.scroll-menu {
  display: flex;
  width: 200px;
  height: 64px;
  justify-content: space-around;
  align-items: center;
}

.scroll-menu > div {
  margin: var(--pads);
  position: relative;
}

.scroll-menu a {
  display: inline-block;
}

.scroll-menu a:hover {
  border-color: transparent;
}

a.stealthy {
  color: var(--theme-color);
}

a.stealthy:hover {
  color: var(--select-color);
}

/**Styling employee window**/

.employee-wrapper {
  margin-left: 20%;
  margin-right: 20%;
  padding: var(--big-pads);
}

.employee-wrapper img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .employee-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
}


/***Work page styling***/

/**Styling buttons**/

a.active {
  border: 4px solid #903;
}

a.active:hover {
  border: 4px solid #903;
}

/***Classes that need to override other classes***/

/**To optionally remove debugging content from the document flow**/
.debug {
  display: none;
}

/**Remove content that isn't active from the document flow**/
.inactive {
  display: none;
}

/**Unclickable links**/
a.unlink {
  background-color: #CC9;
  pointer-events: none;
}
