/*For now, this will just be a regular css-file.*/

body {
  background-color: #BBB;
}

p {
  clear: left;  /*To make it display below preceding divs*/
}

#banner {
  background-color: #08F;
  padding: 5px 25%;
}

#banner img {
  width: 100%;
}

#services {
  display: table;
  margin: 0 auto;
}

#services .imgbox {
  margin: 5px;
  float: left;
  width: 160px;
}

#services img {
  border: 2px solid #000;
  width: 100%;
  height: auto;
}

#services p {
  color: #444;
  font-size: 12px;
  font-weight: bold;
}

#footer {
  min-with: 160px;
}

#footer img {
  margin: 0 auto;
  display: block;
  text-align: center;
}

#footer p {
  text-align: center;
}
